<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%boldGreen(%d{yyyy-MM-dd HH:mm:ss}) %boldBlue([%thread]) %gray(\(%logger{36}\)) %highlight(%-4level) - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>